:root{
    --mint:#8fffe2;
    --mint-dark:#3af0c2;
    --bg:#071112;
    --pixel:'Press Start 2P', cursive;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-x:hidden;

    background:
    url("../Images/pbg.jpg");

    background-size:cover;
    background-position:center;

    font-family:var(--pixel);
    position:relative;
}

/* Dark Overlay */
.overlay{
    position:absolute;
    inset:0;
    
}

/* Pixel Stars */
.stars{
    position:absolute;
    inset:0;

    background-image:
    radial-gradient(circle, rgba(255,255,255,.8) 1px, transparent 1px);

    background-size:140px 140px;
    opacity:.3;

    animation:moveStars 30s linear infinite;
}

@keyframes moveStars{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-140px);
    }
}

.hero{
    position:relative;
    z-index:9;

    width:min(1100px,90%);
    text-align:center;
}

.logo{
    font-size:42px;
    color:var(--mint);

    margin-bottom:35px;

    text-shadow:
    0 0 0px var(--mint),
    0 0 10px var(--mint);
}

.subtitle{
    color:#b7fff0;
    font-size:11px;
    letter-spacing:4px;

    margin-bottom:25px;
}

.title{
    color:white;
    font-size:72px;
    line-height:1.2;

    text-shadow:
    0 0 0px rgba(255,255,255,.4),
    0 0 10px rgba(255,255,255,.2);
}
.logo{
    color:#8fffe2;
    margin-right:6px;

    text-shadow:
    0 0 0px #8fffe2,
    0 0 10px #8fffe2;
}

.sprint{
    color:#8fffe2;

    text-shadow:
    0 0 0px rgba(143,255,226,.7),
    0 0 10px rgba(143,255,226,.5),
    0 0 10px rgba(143,255,226,.3);
}

.description{
    max-width:750px;

    margin:40px auto;

    color:#f0f6f5;

    line-height:1.7;
    font-size:14px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

    margin-top:20px;
}

.play-btn,
.skip-btn{
    text-decoration:none;
    font-size:15px;

    padding:18px 30px;

    border-radius:20px;

    transition:.3s ease;
}

.play-btn{
    background:var(--mint);
    color:#000;

    box-shadow:
    0 0 15px rgba(143,255,226,.5),
    0 0 35px rgba(143,255,226,.2);
}

.play-btn:hover{
    transform:translateY(-4px) scale(1.03);
}

.skip-btn{
    color:var(--mint);
    border:2px solid var(--mint);

    background:rgba(0,0,0,.4);
}

.skip-btn:hover{
    background:rgba(143,255,226,.12);
    transform:translateY(-4px);
}

.stats{
    
    width:80%;   
    margin:50px auto 0;
    display:grid;
    grid-template-columns:repeat(4,2fr);
    gap:15px;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(10px);

    border:1px solid var(--mint-dark);
    border-radius:15px;

    overflow:hidden;

    box-shadow:
    0 0 15px rgba(58,240,194,.15);
}

.stat-cell{
    padding:10px 15px;

    
}

.stat-cell:last-child{
    border-right:none;
}

.icon{
    display:block;

    font-size:40px;

    margin-bottom:18px;
    color:#34ffd6;
    filter:drop-shadow(0 0 10px var(--mint));
}

.stat-cell h3{
    color:white;
    font-size:20px;

    margin-bottom:14px;
}

.stat-cell p{
    color:#a9ffe9;
    font-size:9px;
    letter-spacing:2px;
}

/* Tablet */
@media(max-width:50px){

    .title{
        font-size:52px;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    .stat-cell:nth-child(2){
        border-right:none;
    }
}

/* Mobile */
@media(max-width:600px){

    .logo{
        font-size:32px;
    }

    .title{
        font-size:38px;
    }

    .subtitle{
        font-size:9px;
    }

    .description{
        font-size:8px;
        line-height:2;
    }

    .play-btn,
    .skip-btn{
        width:100%;
    }

    .stats{
        grid-template-columns:1fr;
    }

    .stat-cell{
        border-right:none;
        border-bottom:1px solid rgba(255,255,255,.08);
    }

    .stat-cell:last-child{
        border-bottom:none;
    }
}